CLIENT_URL="http://localhost:5173"
CLICKHOUSE_URL="http://localhost:8123"
CLICKHOUSE_USERNAME="default"
CLICKHOUSE_PASSWORD="<your_clickhouse_password>"
CLICKHOUSE_DB="watchtower"
REDIS_URL="localhost:6379"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="<your_redis_password>"
